### COMMON VARS ###
WORKSPACE=/workspace/
CF_TUNNEL_TOKEN=
CF_QUICK_TUNNELS=true
SSH_PORT=22
SSH_PORT_HOST=2222
RCLONE_PORT_HOST=53682
REDIRECTOR_PORT_HOST=1111
LOG_VIEWER_PORT_HOST=1122
LOG_LEVEL=debug

### OLLAMA-API VARS ###
OLLAMA_PORT=11434
OLLAMA_PORT_HOST=11434

### COMFYUI-API VARS ###
COMFYUI_BRANCH=master
COMFYUI_FLAGS=
COMFYUI_PORT=8188
COMFYUI_PORT_HOST=8188
WEB_ENABLE_AUTH=false
WEB_USER=admin
WEB_PASSWORD=admin
INSTALL_FFMPEG=false
NODES_CSV_FILE=/opt/ai-dock/bin/nodes.csv
MODELS_CSV_FILE=/opt/ai-dock/bin/models.csv

### FFMPEG-API VARS ###
KEEP_ALL_FILES=true
LOG_LEVEL=debug
FFMPEG_PORT=3000
FFMPEG_PORT_HOST=3000